<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-primary" role="alert">
                    <span class="alert-inner--text">This is a primary alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-secondary" role="alert">
                    <span class="alert-inner--text">This is a secondary alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-success" role="alert">
                    <span class="alert-inner--text">This is a success alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-info" role="alert">
                    <span class="alert-inner--text">This is a info alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-warning" role="alert">
                    <span class="alert-inner--text">This is a warning alert with <a href="#" class="alert-link text-dark">an
                            example link</a>. Give it a click if you like.</span>
                </div>
                <div class="alert alert-danger" role="alert">
                    <span class="alert-inner--text">This is a danger alert with <a href="#" class="alert-link">an
                            example link</a>. Give it a click if you like.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->