<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <h6 class="font-weight-bold">Square Badges</h6>
                </div>
                <span class="badge badge-primary text-uppercase">Primary</span>
                <span class="badge badge-secondary text-uppercase">Secondary</span>
                <span class="badge badge-tertiary text-uppercase">Tertiary</span>
                <span class="badge badge-gray text-uppercase">Gray</span>
                <span class="badge badge-success text-uppercase">Success</span>
                <span class="badge badge-danger text-uppercase">Danger</span>
                <span class="badge badge-warning text-uppercase">Warning</span>
                <span class="badge badge-info text-uppercase">Info</span>
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <h6 class="font-weight-bold">Round Badges</h6>
                </div>
                <span class="badge badge-pill badge-primary text-uppercase">Primary</span>
                <span class="badge badge-pill badge-secondary text-uppercase">Secondary</span>
                <span class="badge badge-pill badge-tertiary text-uppercase">Tertiary</span>
                <span class="badge badge-pill badge-gray text-uppercase">Gray</span>
                <span class="badge badge-pill badge-success text-uppercase">Success</span>
                <span class="badge badge-pill badge-danger text-uppercase">Danger</span>
                <span class="badge badge-pill badge-warning text-uppercase">Warning</span>
                <span class="badge badge-pill badge-info text-uppercase">Info</span>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->