<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <span class="badge badge-primary">Primary</span>
                <span class="badge badge-secondary">Secondary</span>
                <span class="badge badge-tertiary">Tertiary</span>
                <span class="badge badge-gray">Gray</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-danger">Danger</span>
                <span class="badge badge-warning">Warning</span>
                <span class="badge badge-info">Info</span>
            </div>
            <div class="col-12 text-center">
                <span class="badge badge-pill badge-primary">Primary</span>
                <span class="badge badge-pill badge-secondary">Secondary</span>
                <span class="badge badge-pill badge-tertiary">Tertiary</span>
                <span class="badge badge-pill badge-gray">Gray</span>
                <span class="badge badge-pill badge-success">Success</span>
                <span class="badge badge-pill badge-danger">Danger</span>
                <span class="badge badge-pill badge-warning">Warning</span>
                <span class="badge badge-pill badge-info">Info</span>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->