<!-- Section -->
<section class="section section-md">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-6">
                    <!--Breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-text-light breadcrumb-primary text-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <!--End of Breadcrumb-->
                    <!--Breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-text-light breadcrumb-secondary text-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <!--End of Breadcrumb-->
                    <!--Breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-text-light breadcrumb-tertiary text-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <!--End of Breadcrumb-->
                    <!--Breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-text-light breadcrumb-info text-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                    <!--End of Breadcrumb-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->