<!--End of Title section-->
<div class="section section-md components-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <h5>Main Buttons</h5>
                </div>
                <!--Buttons-->
                <button class="btn btn-primary" type="button">Button</button>
                <button class="btn btn-primary" type="button">
                    <span class="mr-1"><i class="fas fa-book-open"></i></span>
                    Icon Left
                </button>
                <button class="btn btn-primary" type="button">
                    Icon Right
                    <span class="ml-1"><i class="fas fa-book-open"></i></span>
                </button>
                <button class="btn btn-icon-only btn-primary" type="button">
                    <i class="far fa-heart"></i>
                </button>
                <!--End of Buttons-->
                <!--End of Buttons-->
                <div class="mb-3 mt-5">
                    <h5>Outline Buttons</h5>
                </div>
                <!--Buttons-->
                <button class="btn btn-outline-primary" type="button">Outline-primary</button>
                <button class="btn btn-outline-primary" type="button">
                    <span class="mr-1"><i class="far fa-save"></i></span>
                    Icon Left
                </button>
                <button class="btn btn-outline-primary" type="button">
                    Icon Right
                    <span class="ml-1"><i class="far fa-save"></i></span>
                </button>
                <button class="btn btn-icon-only btn-outline-primary" type="button">
                    <i class="far fa-thumbs-up"></i>
                </button>

                <!--End of Buttons-->
                <div class="mb-3 mt-5">
                    <h5>Sizes</h5>
                </div>
                <!--Buttons-->
                <button class="btn btn-sm btn-primary" type="button">Small</button>
                <button class="btn btn-primary" type="button">Regular</button>
                <button class="btn btn-lg btn-primary" type="button">Large Button</button>
                <!--End of Buttons-->
                <!-- Button colors -->
                <div class="mb-3 mt-5">
                    <h5>Choose your color</h5>
                </div>
                <div class="mb-3 mt-5">
                    <small class="text-uppercase font-weight-bold">Main</small>
                </div>
                <!--Buttons-->
                <button class="btn btn-primary" type="button">Primary</button>
                <button class="btn btn-secondary" type="button">Secondary</button>
                <button class="btn btn-tertiary" type="button">Tertiary</button>
                <button class="btn btn-info" type="button">Info</button>
                <button class="btn btn-success" type="button">Success</button>
                <button class="btn btn-warning" type="button">Warning</button>
                <button class="btn btn-danger" type="button">Danger</button>
                <button class="btn btn-dark" type="button">Dark</button>
                <button class="btn btn-gray" type="button">Gray</button>
                <button class="btn btn-light" type="button">Light</button>
                <button class="btn btn-white" type="button">White</button>
                <!--End Of Buttons-->
                <div class="mb-3 mt-5">
                    <small class="text-uppercase font-weight-bold">Outline</small>
                </div>
                <!--Buttons-->
                <button class="btn btn-outline-primary" type="button">Primary</button>
                <button class="btn btn-outline-secondary" type="button">Secondary</button>
                <button class="btn btn-outline-tertiary" type="button">Tertiary</button>
                <button class="btn btn-outline-info" type="button">Info</button>
                <button class="btn btn-outline-success" type="button">Success</button>
                <button class="btn btn-outline-warning" type="button">Warning</button>
                <button class="btn btn-outline-danger" type="button">Danger</button>
                <button class="btn btn-outline-dark" type="button">Dark</button>
                <button class="btn btn-outline-gray" type="button">Gray</button>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <!-- Button Social -->
                    <div class="mb-4 mt-5">
                        <h6>Social Buttons</h6>
                    </div>
                    <button class="btn btn-twitter" type="button">
                        <span class="mr-1"><i class="fab fa-twitter"></i></span>
                        Login with Twitter
                    </button>
                    <br>
                    <button class="btn btn-facebook" type="button">
                        <span class="mr-1"><i class="fab fa-facebook-f"></i></span>
                        Login with Facebook
                    </button>
                    <br>
                    <button class="btn btn-instagram" type="button">
                        <span class="mr-1"><i class="fab fa-instagram"></i></span>
                        Follow on Instagram
                    </button>
                    <br>
                    <button class="btn btn-pinterest" type="button">
                        <span class="mr-1"><i class="fab fa-pinterest-p"></i></span>
                        Share on Pinterest
                    </button>
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Button Social -->
                    <div class="mb-4 mt-5">
                        <h6>Round Social Buttons</h6>
                    </div>
                    <button class="btn btn-pill btn-twitter" type="button">
                        <span class="mr-1"><i class="fab fa-twitter"></i></span>
                        Login with Twitter
                    </button>
                    <br>
                    <button class="btn btn-pill btn-facebook" type="button">
                        <span class="mr-1"><i class="fab fa-facebook-f"></i></span>
                        Login with Facebook
                    </button>
                    <br>
                    <button class="btn btn-pill btn-instagram" type="button">
                        <span class="mr-1"><i class="fab fa-instagram"></i></span>
                        Follow on Instagram
                    </button>
                    <br>
                    <button class="btn btn-pill btn-pinterest" type="button">
                        <span class="mr-1"><i class="fab fa-pinterest-p"></i></span>
                        Share on Pinterest
                    </button>
                </div>
                <div class="col-12 col-lg-1">
                    <!-- Square -->
                    <div class="mb-4 mt-5">
                        <h6>Square</h6>
                    </div>
                    <button class="btn btn-icon-only btn-twitter" type="button">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="btn btn-icon-only btn-facebook" type="button">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    </button>
                    <button class="btn btn-icon-only btn-instagram" type="button">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button class="btn btn-icon-only btn-pinterest" type="button">
                        <i class="fab fa-pinterest-p"></i>
                    </button>
                </div>
                <div class="col-12 col-lg-1">
                    <!-- Circle -->
                    <div class="mb-4 mt-5">
                        <h6>Circle</h6>
                    </div>
                    <button class="btn btn-icon-only btn-pill btn-twitter" type="button">
                        <i class="fab fa-twitter"></i>
                    </button>
                    <button class="btn btn-icon-only btn-pill btn-facebook" type="button">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button class="btn btn-icon-only btn-pill btn-instagram" type="button">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button class="btn btn-icon-only btn-pill btn-pinterest" type="button">
                        <i class="fab fa-pinterest-p"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>