<!--End of Title section-->
<div class="section section-md">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-light">
                    <img src="@@path/assets/img/blog/image-1.jpg" class="card-img-top rounded-top" alt="Office space">
                    <div class="card-body">
                        <span class="h6 icon-tertiary small"><span class="fas fa-medal mr-2"></span>Awards</span>
                        <h2 class="h5 mt-3">We partnered up with Ildiesign</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Read All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                <div class="card">
                    <div class="position-relative">
                        <img src="@@path/assets/img/team/profile-picture-1.jpg" class="card-img-top" alt="Neil Sims">
                    </div>
                    <div class="card-body position-relative mt-n6 mx-2 bg-white text-center rounded border border-light">
                        <h2 class="h5">Neil D. Sims</h2>
                        <span class="text-gray"><span class="fas fa-map-marker-alt mr-2"></span>New York,
                            USA</span>
                        <p class="mt-3">Neil drives the technical strategy of the platform and brand.</p>
                        <button class="btn btn-secondary btn-icon">
                            <span class="mr-1"><span class="far fa-user"></span></span>
                            Follow
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-light text-center">
                    <!-- Header -->
                    <div class="card-header bg-white p-3">
                        <h2 class="h3 text-primary mb-4">Basic</h2>
                        <span class="d-block">
                            <span class="display-1 text-dark font-weight-bold">
                                <span class="align-top font-medium">$</span>19
                        </span>
                        <span class="d-block text-gray font-small">/ month</span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li class="list-item pb-3"><strong>1</strong> free domain</li>
                            <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                            <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                            <li class="list-item pb-3">One-click staging site</li>
                            <li class="list-item pb-3">Search engine wizard </li>
                            <li class="list-item pb-3">Community support</li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-block animate-up-1">Start
                            Starter</button>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="card border-light px-4 py-5">
                    <div class="card-header bg-white text-center pb-0">
                        <h2 class="h1 mb-3">Get the most out of your network.</h2>
                        <p class="mb-5 lead">
                            Contact management designed for teams and individuals
                        </p>
                    </div>
                    <div class="card-body pt-2 px-0 px-lg-7">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8">
                                <div class="form-group">
                                    <label for="exampleInputEmail8">Email address</label>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="input-group">
                                            <input class="form-control form-control-xl" id="exampleInputEmail8" aria-label="Email address" placeholder="Your email address" type="email">
                                            <div class="input-group-prepend">
                                                <button type="submit" class="btn btn-primary rounded-right">Subscribe</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>