<!-- Section -->
<section class="section section-md pb-0">
    <div class="container">
        <!-- Title -->
        <div class="row">
            <div class="col-md-4">
                <div class="mb-5">
                    <h4 class="h5">Default Forms</h4>
                </div>
            </div>
        </div>
        <!-- End of Title -->
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <!-- Form -->
                <div class="form-group">
                    <input type="text" placeholder="Default" class="form-control" aria-label="Default text input" />
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fas fa-search"></span></span>
                        </div>
                        <input class="form-control" placeholder="Icon Left" type="text" aria-label="Input with icon left">
                    </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <div class="input-group mb-4">
                        <input class="form-control" placeholder="Password" type="password" aria-label="Password">
                        <div class="input-group-append">
                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                        </div>
                    </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" aria-label="File upload">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <!-- End of Form -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Form -->
                <div class="form-group mt-3 mt-sm-0">
                    <input type="text" placeholder="Disabled" class="form-control" aria-label="Disabled input" disabled />
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <div class="input-group mb-4">
                        <input class="form-control" placeholder="Icon Right" aria-label="Input group" type="text">
                        <div class="input-group-append">
                            <span class="input-group-text"><span class="fas fa-search"></span></span>
                        </div>
                    </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                        </div>
                        <input class="form-control" placeholder="Password" aria-label="Password" type="password">
                    </div>
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <textarea class="form-control" placeholder="Enter your message..." id="exampleFormControlTextarea" aria-label="Textarea example" rows="4"></textarea>
                </div>
                <!-- End of Form -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Form -->
                <div class="form-group has-success">
                    <input type="text" placeholder="Success Input" aria-label="Input with success state" class="form-control is-valid" />
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group has-danger mb-4">
                    <input type="email" placeholder="Error Input" aria-label="Input with error state" class="form-control is-invalid" />
                </div>
                <!-- End of Form -->
                <!-- Form -->
                <div class="form-group">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" aria-label="Select country">
                        <option>Select your country</option>
                        <option>Italia</option>
                        <option>USA</option>
                        <option>England</option>
                        <option>France</option>
                    </select>
                </div>
                <!-- End of Form -->
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->
<!-- Section -->
<div class="section section-md">
    <div class="container">
        <h4 class="h5">Datepicker</h4>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <!-- Form -->
                <span class="h6 d-block font-weight-normal mb-3">Date of birth</span>
                <div class="form-group">
                    <div class="input-group input-group-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                        </div>
                        <input class="form-control datepicker" placeholder="Select date" type="text" aria-label="Birthday" value="06/20/2018">
                    </div>
                </div>
                <!-- End of Form -->
            </div>
            <div class="col-md-8 mt-4 mt-md-0">
                <!-- Form -->
                <span class="h6 d-block font-weight-normal mb-3">Employment Period</span>
                <div class="input-daterange datepicker row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group input-group-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                </div>
                                <input class="form-control" placeholder="Start date" aria-label="Start date" type="text" value="06/18/2018">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group input-group-border">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                </div>
                                <input class="form-control" placeholder="End date" aria-label="End date" type="text" value="06/22/2018">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Form -->
            </div>
        </div>
        <h4 class="h5">Range Sliders</h4>
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-sm-6">
                <!-- Simple slider -->
                <div class="input-slider-container">
                    <div id="input-slider-forms" class="input-slider" data-range-value-min="100" data-range-value-max="500"></div>
                    <!-- Input slider values -->
                    <div class="row mt-3 d-none">
                        <div class="col-6">
                            <span class="range-slider-value" data-range-value-low="200"></span>
                        </div>
                    </div>
                </div>
                <!-- End of Slider -->
            </div>
            <!-- Range slider -->
            <div class="col-lg-6 col-sm-6">
                <!-- Range slider container -->
                <div id="input-slider-range" data-range-value-min="100" data-range-value-max="500"></div>
                <!-- Range slider values -->
                <div class="row d-none">
                    <div class="col-6">
                        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low"></span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high"></span>
                    </div>
                </div>
                <!-- End of range slider values -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 col-sm-6 my-5 my-md-0">
                <!-- Range slider container -->
                <div id="input-slider-range-2" data-range-value-min="100" data-range-value-max="500"></div>
                <!-- Range slider values -->
                <div class="row d-none">
                    <div class="col-6">
                        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low-2"></span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high-2"></span>
                    </div>
                </div>
                <!-- End of range slider values -->
            </div>
            <div class="col-3 offset-md-2 col-lg-2">
                <!-- Range slider container -->
                <div id="input-slider-vertical-1" data-range-value-min="100" data-range-value-max="500"></div>
                <!-- Range slider values -->
                <div class="row d-none">
                    <div class="col-6">
                        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low-3"></span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high-3"></span>
                    </div>
                </div>
                <!-- End of range slider values -->
            </div>
            <div class="col-3 col-lg-2">
                <!-- Range slider container -->
                <div id="input-slider-vertical-2" data-range-value-min="100" data-range-value-max="500"></div>
                <!-- Range slider values -->
                <div class="row d-none">
                    <div class="col-6">
                        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low-4"></span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high-4"></span>
                    </div>
                </div>
                <!-- End of range slider values -->
            </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-lg-3 col-md-6">
                <div class="mb-3">
                    <span class="h6 font-weight-bold">Checkboxes</span>
                </div>
                <!-- Checkbox -->
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                        Unchecked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                        Checked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" disabled>
                        <span class="form-check-sign"></span>
                        Disabled Unchecked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked disabled>
                        <span class="form-check-sign"></span>
                        Disabled Checked
                    </label>
                </div>
                <!-- End of Checkbox -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Checkboxes -->
                <div class="mb-3">
                    <span class="h6 font-weight-bold">Checkboxes Round</span>
                </div>
                <!-- Checkbox -->
                <div class="form-check round-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                        Unchecked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check round-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                        Checked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check round-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" disabled>
                        <span class="form-check-sign"></span>
                        Disabled Unchecked
                    </label>
                </div>
                <!-- End of Checkbox -->
                <!-- Checkbox -->
                <div class="form-check round-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked disabled>
                        <span class="form-check-sign"></span>
                        Disabled Checked
                    </label>
                </div>
                <!-- End of Checkbox -->
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
                <!-- Radio -->
                <fieldset>
                    <legend class="h6">Radios</legend>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1">
                            <span class="form-check-sign"></span>
                            Radio is off
                        </label>
                    </div>
                    <!-- End of Radio -->
                    <!-- Radio -->
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2" checked>
                            <span class="form-check-sign"></span>
                            Radio is on
                        </label>
                    </div>
                    <!-- End of Radio -->
                    <!-- Radio -->
                    <div class="form-check form-check-radio disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3"
                                value="option3" disabled>
                            <span class="form-check-sign"></span>
                            Disabled radio is off
                        </label>
                    </div>
                    <!-- End of Radio -->
                    <!-- Radio -->
                    <div class="form-check form-check-radio disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4"
                                value="option4" disabled checked>
                            <span class="form-check-sign"></span>
                            Disabled radio is on
                        </label>
                    </div>
                    <!-- End of Radio -->
                </fieldset>
            </div>
            <div class="col-lg-3 col-sm-6 mt-4 mt-md-0">
                <div class="mb-3">
                    <span class="h6 font-weight-bold">Switches</span>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                  </div>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->