<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- Button Modal -->
                <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#DefaultModal">Default</button>
                <!-- Modal Content -->
                <div class="modal fade" id="DefaultModal" tabindex="-1" role="dialog" aria-labelledby="DefaultModallabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="h6 modal-title" id="DefaultModallabel">Terms of Service</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.</p>
                                <p>The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as
                                    soon as possible of high-risk data breaches that could personally affect them.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary">I Got It</button>
                                <button type="button" class="btn btn-link text-danger ml-auto" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->
            </div>
            <div class="col-md-4">
                <!-- Button Modal -->
                <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-notification">Notification</button>
                <!-- Modal Content -->
                <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
                    <div class="modal-dialog modal-info modal-dialog-centered" role="document">
                        <div class="modal-content bg-gradient-secondary">
                            <div class="modal-header">
                                <p class="modal-title" id="modal-title-notification">A new experience, personalized for you.</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="py-3 text-center">
                                    <div class="modal-icon display-1-lg"><span class="far fa-envelope-open"></span></div>
                                    <span class="h4 modal-title my-3 d-block">Important message!</span>
                                    <p>Do you know that you can assign status and relation to a company right in the visit list?.</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-white">Go to Inbox</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal Content -->
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->