<div class="section section-md">
    <div class="container">
        <div class="row">   
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark navbar-theme-primary mb-4">
                    <div class="container position-relative">
                        <a class="navbar-brand mr-lg-5" href="#">
                            <img class="navbar-brand-dark" src="@@path/assets/img/brand/light.svg" alt="Pixel logo">
                            <img class="navbar-brand-light" src="@@path/assets/img/brand/dark.svg" alt="Pixel Logo Dark">
                        </a>
                        <div class="navbar-collapse collapse" id="navbar-primary">
                            <div class="navbar-collapse-header">
                                <div class="row">
                                    <div class="col-6 collapse-brand">
                                        <a href="#">
                                            <img src="@@path/assets/img/brand/dark.svg" alt="Pixel logo">
                                        </a>
                                    </div>
                                    <div class="col-6 collapse-close">
                                        <span class="fas fa-times" data-toggle="collapse" role="button" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-link-inner-text">Sections</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-link-inner-text">Components</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                                        <span class="nav-link-inner-text">Pages</span>
                                        <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" aria-haspopup="true" aria-expanded="false">About<span class="fas fa-angle-right nav-link-arrow"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" class="dropdown-item">About
                                                        Company</a>
                                                    <a href="#" class="dropdown-item">About
                                                        Startup</a>
                                                    <a href="#" class="dropdown-item">About
                                                        Team</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" aria-haspopup="true" aria-expanded="false">Blog <span class="fas fa-angle-right nav-link-arrow"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" class="dropdown-item">Blog</a>
                                                    <a href="#" class="dropdown-item">Single
                                                        Article</a>
                                                    <a href="#" class="dropdown-item">Single
                                                        Article 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Contact</a></li>
                                        <li><a class="dropdown-item" href="#">Pricing</a></li>
                                        <li><a class="dropdown-item" href="#">Services</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="text-white mb-0">Primary navbar</p>
                            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-light mb-4">
                    <div class="container position-relative">
                        <a class="navbar-brand mr-lg-5" href="#">
                            <img class="navbar-brand-dark" src="@@path/assets/img/brand/light.svg" alt="Pixel logo">
                            <img class="navbar-brand-light" src="@@path/assets/img/brand/dark.svg" alt="Pixel Logo Dark">
                        </a>
                        <div class="navbar-collapse collapse" id="navbar-primary">
                            <div class="navbar-collapse-header">
                                <div class="row">
                                    <div class="col-6 collapse-brand">
                                        <a href="#">
                                            <img src="@@path/assets/img/brand/dark.svg" alt="Pixel logo">
                                        </a>
                                    </div>
                                    <div class="col-6 collapse-close">
                                        <span class="fas fa-times" data-toggle="collapse" role="button" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation"></span>
                                    </div>
                                </div>
                            </div>
                            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-link-inner-text">Sections</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <span class="nav-link-inner-text">Components</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                                        <span class="nav-link-inner-text">Pages</span>
                                        <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" aria-haspopup="true" aria-expanded="false">About<span class="fas fa-angle-right nav-link-arrow"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" class="dropdown-item">About
                                                        Company</a>
                                                    <a href="#" class="dropdown-item">About
                                                        Startup</a>
                                                    <a href="#" class="dropdown-item">About
                                                        Team</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" aria-haspopup="true" aria-expanded="false">Blog <span class="fas fa-angle-right nav-link-arrow"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" class="dropdown-item">Blog</a>
                                                    <a href="#" class="dropdown-item">Single
                                                        Article</a>
                                                    <a href="#" class="dropdown-item">Single
                                                        Article 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Contact</a></li>
                                        <li><a class="dropdown-item" href="#">Pricing</a></li>
                                        <li><a class="dropdown-item" href="#">Services</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="text-dark mb-0">Light navbar</p>
                            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>