<!-- End of Hero -->
<div class="section section-md">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h4 class="mb-3 h6">Default table</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Zoltan <span class="badge badge-primary ml-2">Pro</span>
                                    </div>
                                </td>
                                <td>Robi</td>
                                <td>
                                    <div class="d-flex">
                                        <span class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                        <span class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" title="Delete item"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Jacob <span class="badge badge-secondary ml-2">Mid</span>
                                    </div>
                                </td>
                                <td>Thornton</td>
                                <td>
                                    <div class="d-flex">
                                        <span class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                        <span class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" title="Delete item"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        Larry <span class="badge badge-tertiary ml-2">Noob</span>
                                    </div>
                                </td>
                                <td>the Bird</td>
                                <td>
                                    <div class="d-flex">
                                        <span class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="Edit item"></span>
                                        <span class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" title="Delete item"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mb-5">
                    <h4 class="mb-3 h6">Dark table</h4>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Zoltan</td>
                                <td>Robi</td>
                                <td>@calota</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mb-5">
                    <h4 class="h6 mb-3">Striped rows</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Zoltan</td>
                                <td>Robi</td>
                                <td>@calota</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>