<!-- Section -->
<div class="section section-md">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-primary">
                        <span class="fab fa-bootstrap"></span>
                        <strong class="mr-auto ml-2">Bootstrap</strong>
                        <span class="text-small">11 mins ago</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is a toast message.
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="toast bg-primary text-white fade show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-primary">
                        <span class="fab fa-bootstrap"></span>
                        <strong class="mr-auto ml-2">Bootstrap</strong>
                        <span class="text-small">11 mins ago</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is a toast message.
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="toast bg-tertiary text-white fade show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header bg-tertiary text-white">
                        <span class="fab fa-bootstrap"></span>
                        <strong class="mr-auto ml-2">Bootstrap</strong>
                        <span class="text-small">11 mins ago</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span class="text-white" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is a toast message.
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Section -->