<!--

=========================================================
* Pixel Lite Bootstrap UI Kit
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/pixel-lite-free-bootstrap-4-ui-kit
* Copyright 2019 Themesberg (https://www.themesberg.com)
* License Themesberg (Crafty Dwarf LLC) (https://themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./_head.html', {
        "path": "../..",
        "title": "Pixel Lite - Bootstrap Progress bars"
    })
</head>

<body>
    @@include('./_navigation.html', {
        "path": "../..",
        "classes": "navbar-dark"
    })
    <main>

        @@include('./_preloader.html', {
            "path": "../.."
        })
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Progress Bars</h1>
                        <p class="lead mb-5">Progress components are built with two HTML elements, some CSS to set the width, and a few attributes.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->
        
        @@include('./components/_progress-bars.html', {
            "path": "../.."
        })

        @@include('./_free-vs-pro.html', {
            "path": "../.."
        })

    </main>
    @@include('./_footer.html', {
        "path": "../..",
        "classes": "bg-primary text-white"
    })

    @@include('./_scripts.html', {
        "path": "../.."
    })
</body>

</html>