/**
 * = Custom forms
 */

.custom-control-label {
    // Background-color and (when enabled) gradient
    &:before {
        box-shadow: $custom-control-box-shadow;
        @if $enable-transitions {
            transition: $input-transition;
        } 
    }

    span {
        position: relative;
        top: 2px;
    }
} 

.custom-control-label {
    margin-bottom: 0;
}

.custom-control-input {
    &:active~.custom-control-label::before {
        border-color: $custom-control-indicator-active-border-color;
    }
}

// Custom File Input

.custom-file-label{
    border: $custom-control-border-width solid $custom-control-border-color;
    font-size: $input-font-size;
    color:$input-placeholder-color;
    &::after {
        height: 100%;
        background-color: $primary;
        color:$white;
        border:0;
    }
}

.custom-file-input{
    &:not(:disabled):hover {
        cursor: pointer;
    
        & ~ .custom-file-label,
        & ~ .custom-file-label:before {
          border-color: $gray-300;
        }
    }
}


//Select
.custom-select{
    font-size: $input-btn-font-size;
    box-shadow: $input-box-shadow;
    border:0;

    &.custom-select-shadow {
        box-shadow: $input-box-shadow;
        border: 0;
        transition: box-shadow .15s ease;
    
        &:focus {
            box-shadow: $shadow-input-focus;
        }
    }

    &:hover {
        cursor: pointer;
    }
}


