/**
 * = Paginations
 */

.page-link{
    border:0;
}

.circle-pagination{
    .page-link,
    span{
        @include display-flex();
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        padding: 0;
        @include border-radius($circle-radius);
    }
}

.page-item {
    &.active .page-link {
        box-shadow: $pagination-active-box-shadow;
    }

    .page-link,
    span {
        margin: 0 3px;
        font-size: $font-size-sm;
        color: $dark;
        font-weight: $font-weight-bold;
        @include border-radius($border-radius);
    }
}

.pagination-lg {
    .page-item {
        .page-link,
        span {
            width: 46px;
            height: 46px;
            line-height: 46px;
            @include display-flex();
            align-items: center;
            justify-content: center;
        }
    }
}

.pagination-sm {
    .page-item {
        .page-link,
        span {
            @include display-flex();
            width: 30px;
            height: 30px;
            line-height: 30px;
            align-items: center;
            justify-content: center;
        }
    }
}