<div class="row">
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/about-company.html" target="_blank" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/about-company.jpg" alt="About company page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">About company<span class="fas fa-external-link-alt ms-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/contact.html" target="_blank" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/contact.jpg" alt="Contact page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Contact<span class="fas fa-external-link-alt ms-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/landing-freelancer.html" target="_blank" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/landing-freelancer.jpg" alt="Freelancer page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Freelancer<span class="fas fa-external-link-alt ms-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/sign-in.html" target="_blank" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/signin.jpg" alt="Sign in page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Sign in<span class="fas fa-external-link-alt ms-2"></span></h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-3 mb-5">
        <a href="@@path_pages/sign-up.html" target="_blank" class="page-preview scale-up-hover-2">
            <img class="shadow-lg rounded scale" src="@@path/assets/img/presentation/all-pages/signup.jpg" alt="Sign up page preview">
            <div class="text-center show-on-hover">
                <h3 class="h6 m-0 text-center text-white">Sign up<span class="fas fa-external-link-alt ms-2"></span></h3>
            </div>
        </a>
    </div>
</div>