<!-- Core -->
<script src="@@path/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@path/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="@@path/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@path/node_modules/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="@@path/node_modules/onscreen/dist/on-screen.umd.min.js"></script>
<script src="@@path/node_modules/nouislider/distribute/nouislider.min.js"></script>
<script src="@@path/node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="@@path/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="@@path/node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="@@path/node_modules/jarallax/dist/jarallax.min.js"></script>
<script src="@@path/node_modules/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="@@path/node_modules/vivus/dist/vivus.min.js"></script>
<script src="@@path/node_modules/vivus/src/pathformer.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- pixel JS -->
<script src="@@path/assets/js/pixel.js"></script>