<!-- Core -->
<script src="@@path/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="@@path/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@path/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="@@path/vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="@@path/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="@@path/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="@@path/vendor/vivus/dist/vivus.min.js"></script>
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="@@path/assets/js/pixel.js"></script>
